<h1>Registrar producto</h1>
<form action="/buy-prod" method="POST">
    <div>
        <label for="name">Nombre producto</label>
        <input type="text" id="name" name="name">
    </div>
    <div>
        <label for="info">Descripción producto</label>
        <input type="text" id="info" name="info">
    </div>
    <div>
        <label for="stock">Cantidad</label>
        <input type="number" id="stock" name="stock">
    </div>
    <div>
        <label for="ubi">Ubicación producto</label>
        <input type="text" id="ubi" name="ubi">
    </div>
    <div>
        <label for="date">Fecha de vencimiento</label>
        <input type="date" id="date" name="date">
    </div>
    <div>
        <label for="kit">Es Kit</label>
        <input type="number" id="kit" name="kit">
    </div>
    </div>
    <div>
        <label for="precio">Precio producto</label>
        <input type="number" id="precio" name="precio">
    </div>
    <button type="submit">Comprar producto</button>
</form>
<a href="/">Index</a>