<% if (user) { %>
    <p>Welcome, <%= user.nombre_emp %>
    </p><br>
    <a href="/prov">Proveedores</a><br>
    <a href="/inventario">Inventario de productos</a><br>
    <a href="/add-prod">Registrar productos</a><br>
    <a href="/add-kit">Registrar kit</a><br>
    <br>
    <a href="/logout">Cerrar Sesión</a>
    <% } else { %>
        <p>Bienvenido usuario</p>
        <br>
        <a href="/login">Inicia Sesión</a>
        <a href="/register">Registrate</a>
        <br>
        <a href="/prov">Proveedores</a><br>
        <a href="/inventario">Inventario de productos</a><br>
        <% } %>

